/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

/* Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Settings */
body {
    background: #EDEFF2;
    font-family: 'Poppins', sans-serif;
}

/* Mask for full image */
#mask {
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.8);
    position: fixed;
    z-index: 4999;
    display: none;
}

/* Navigation */
.navigation {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #EDEFF2;
    background: #fff;
}
.logo {
    width: 250px;
    height: 50px;
    background: url(./assets/checker.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 40px;
}
.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-right: 40px;
}
.btn-txt {
    border: none;
    background: none;
}
.btn-txt a {
    color: #616366 !important;
}
.btn-btn {
    width: 160px;
    height: 50px;
    background: #1160E9;
    border-radius: 2px;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 1.2;
}
a {
    text-decoration: none;
    color: white;
}
.btn-btn a {
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Hero */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
}
.hero-card {
    background: #fff;
    height: 36vh;
    width: 19vw;
    margin-left: 8%;
    margin-top: -50px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 60px;
}
.card-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 100;
}
.card-content h1 {
    line-height: 35px;
    font-size: 1.6em;
    font-weight: 600;
    color: #222426;
}
.card-content div {
    color: #616366;
    font-size: 1em;
}
.hero-image {
    background: url('./assets/heroImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 73vh;
    width: 77vw;
    position: absolute;
    right: 8%;
    border-radius: 4px;
    z-index: 100;
}
.hero .brand-bar {
    width: 100%;
    height: 8px;
    background: blue;
    position: absolute;
    bottom: 15vh;
}
.ui-overlay {
    height: 15vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Intro */
.intro {
    margin-top: 50px;
    display: flex;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    border-radius: 8px;
}
.intro-nested {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.intro-image {
    background: url('./assets/intro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 57%;
    border-radius: 4px;
    position: relative;
}
.open {
    height: 30px;
    width: 30px;
    background: url('./assets/open-icon.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.close {
    height: 30px;
    width: 30px;
    background: url('./assets/close-icon.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: none;
}
.intro-content {
    height: 60vh;
    width: 40%;
    display: flex;
    align-items: center;
}
.title {
    text-transform: uppercase;
    color: #1160E9;
    font-weight: 600;
    font-size: 1.2;
}
.headline {
    font-size: 2.1em;
    margin-top: 10px;
    font-weight: 600;
    line-height: 45px;
    color: #222426;
}
.content-body {
    margin-top: 15px;
    color: #616366;
    font-size: 1em;
}

/* Floor Plans */
.floor-plans {
    margin-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.fp-headline {
    font-weight: 600;
    font-size: 1.25em;
    color: #222426;
}
.fp-options {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.value {
    font-size: 4em;
    color: #222426;
}
.label {
    color: #616366;
    font-size: 1.25em;
    font-weight: 600;
}

/* Amenities */
.amenities {
    margin-top: 100px;
    display: flex;
    width: 85%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 8px;
}
.amenities .headline {
    font-size: 2em;
}
.amen-content {
    width: 40%;
}
.amen-images {
    width: 57%;
}
.amen-image {
    height: 50vh;
    width: 100%;
    position: relative;
}
.amen-image:nth-child(1) {
    background: url('./assets/interior.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}
.amen-image:nth-child(2) {
    background: url('./assets/community.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}
.m-top {
    margin-top: 50px;
}
.cap {
    margin: 15px 0px;
    text-align: center;
    width: 100%;
    height: 25px;
    font-size: 1.2;
}
.category {
    margin-top: 15px;
    line-height: 30px;
}
.cat-title {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    color: #222426;
    font-size: 1.2;
    margin-top: 25px;
}
.cat-title:first-child {
    margin-top: 65px;
}
.amen-content ul {
    color: #616366;
    font-size: 1em;
    margin-right: 25px;
    margin-left: 25px;
}
.amen-content ul li {
    margin-bottom: 5px;
}
.amen-item-img {
    list-style-image: url('./assets/cam.png');
}
/* Neighborhood */
.neighborhood {
    margin-top: 100px;
    height: 82vh;
    position: relative;
}
.neighbor-content {
    text-align: center;
}
.w-40 {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.address {
    color: #616366;
    margin-top: 10px;
    font-size: 1em;
}
.map {
    width: 70%;
    height: 70%;
    background: url('./assets/checker.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    border-radius: 8px;
    left: 18%;
}
.neighborhood .brand-bar {
    width: 100%;
    height: 8px;
    background: blue;
    position: absolute;
    z-index: -100;
    bottom: 15vh;
}
.bottom-edge {
    height: 15vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #2B2E33;
    z-index: -100;
}

/* Form */
.form-container {
    background: #2B2E33;
    padding-top: 100px;
    color: white;
}
.form-container .headline {
    text-align: center;
    color: white;
}
.form {
    width: 85%;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}
.form-row {
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
.form-row:not(:first-child) {
    margin-top: 25px;

}
.form-field {
    display: flex;
    flex-direction: column;
    width: 22%;
}
.strech-2 {
    width: 48%;
}
.strech-3 {
    width: 35%;
}
.require {
    color: #9DA1A6;
    margin-left: 15px;
}
.form input, .form select {
    background: #2B2E33;
    color: white;
    padding: 8px;
    border: 2px solid #919499;
    border-radius: 4px;
    font-size: 1em;
}
.form label {
    font-size: 1.2;
}
.radio-fields {
    display: flex;
    padding: 8px;
}
.radio-field label {
    font-size: 1em;
}
.radio-field:nth-child(2) {
    margin-left: 15px;
}
input[name="pet"] {
    accent-color: #2B2E33;
    outline: none;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    border: 1px solid white;;
}
.submit-but-container {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.submit-but {
    width: 160px;
    height: 50px;
    background: #1160E9 !important;
    border-radius: 2px;
    color: white;
    border: none !important;
    font-weight: 700;
    font-size: .8em !important;
    border: none;
}


/* Footer */
.footer {
    height: 5vh;
    border-top: 1px solid #919499;
    background: #2B2E33;
    color: #9DA1A6;
}
.footer-nested {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    height: 100%;
    margin-right: auto;
    width: 90%;
}
.footer-left {
    display: flex;
    text-transform: uppercase;
    color: #9DA1A6;
    font-weight: 600;
    font-size: .7em;
}
.footer-left span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-left div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider {
    width: 2px;
    height: 15px;
    background: #9DA1A6;
    margin: 0px 20px;
}
.footer-right {
    background: url('/assets/footer-right.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;   
    height: 15px;
    width: 7%;
}

/* CSS for thanks.html */
.thanks {
    height: 50vh;
    display: flex;
    align-items: center;
}
.thanks div {
    border: 1px solid #919499;
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.thanks div h1 {
    margin-bottom: 15px;
}
.thanks div span {
    color: #9DA1A6;
}